
svg {
    background-color: whitesmoke;
    border: 1px solid ;
    border-color: var(--data-viz-blue);
    padding: 1em;
    display: inline-block;
    vertical-align: top;
}

#bar-chart rect
{
    stroke-width: 0.2;
    stroke: #e6af2e;
    fill: var(--data-viz-blue);
}

path {
    fill: none;
    stroke: var(--data-viz-blue);
    stroke-width: 0.15;
}

text {
    font-size: 1px;
}

body {
    counter-reset: fignum;
}

figure {
    counter-increment: fignum;
}

figcaption {
    font-style: italic;
    margin-top: 0.5em;
}

figcaption:before {
    content: "Figure "counter(fignum) ". ";
}

.pageSpacer{
    padding-top: 15px;
    padding-bottom: 15px;
}

.HDD {
    fill: var(--data-viz-orange);
}

.SSD {
    fill: var(--data-viz-red);
}

.SSD_HDD {
    fill: var(--data-viz-green);
}




